<div class="main-container">
  <!-- LOGO SECTION 1 -->
  <div class="logo-section">
    <div class="logo">
      <img src="assets/img/21.png" />
    </div>
  </div>

  <div class="login-section">
    <div class="login">
      <div class="heading">Sign up</div>

      <div class="login-form">
        <form [formGroup]="loginForm" (ngSubmit)="signup()">
          <div class="example-container">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Enter your name</mat-label>
              <input matInput placeholder="" formControlName="name" required />
            </mat-form-field>
          </div>
          <div class="example-container">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Enter your email</mat-label>
              <input matInput placeholder="" formControlName="email" required />
            </mat-form-field>
          </div>
          <div class="example-container">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Enter your password</mat-label>
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                formControlName="password"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </form>
      </div>
      <div class="buttons">
        <button mat-raised-button type="submit" class="signup_btn">
          Sign up
        </button>
        <button mat-raised-button class="google-login" (click)="googleSignIn()">
          <img src="assets/img/logo-1.png" class="logo" />
        </button>
      </div>
      <div class="join" routerLink="login">
        <p>Already have an account?</p>
        &nbsp;
        <p style="color: #2b6cb0">Login</p>
      </div>
    </div>
  </div>
</div>
