<form [formGroup]="categoryForm" (ngSubmit)="submit()">
    <mat-form-field appearance="outline">
        <mat-label>Category Name</mat-label>
        <input type="text" formControlName="name" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea type="text" formControlName="decription" matInput></textarea>
    </mat-form-field>
    <div class="row">
        <button mat-raised-button color="primary" type="submit">Add Category</button>
        <button mat-stroked-button color="primary" (click)="close.emit()" type="button">Cancel</button>
    </div>
</form>