form{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    width: 500px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}