@use '@angular/material' as mat;
@import url('remixicon/fonts/remixicon.css');
$ssspay-palette: (
 50: #cefff2,
 100: #7affdc,
 200: #51ffd1,
 300: #0dffbe,
 400:rgb(12, 202, 151),
 500:#00be8b,
 600:#03a479,
 700:rgb(227, 168, 65),
 800:#016e51,
 900:#008d67,
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
 )
);
$my-primary: mat.define-palette($ssspay-palette, 700);
$my-accent: mat.define-palette(mat.$cyan-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent:$my-accent,
   foreground: $ssspay-palette,
 )
));

@include mat.core-theme($my-theme);
@include mat.button-theme($my-theme);
@include mat.tabs-theme($my-theme);
@include mat.input-theme($my-theme);
@include mat.form-field-theme($my-theme);
@include mat.progress-spinner-theme($my-theme);
@include mat.checkbox-color($my-theme);
@include mat.datepicker-theme($my-theme);
@include mat.datepicker-color($my-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; --primaryColor: rgb(50, 50, 50);}
#bill{
    position: absolute;
    top:0px;
    left:0px;
    visibility: hidden;
    // visibility: visible;
    padding: 15px;
    visibility: hidden;
    padding: 15px;
    width: calc(100% - 30px);
    
    p{
        margin:0px;
    }
    img{
        width: 250px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .billRow{
        display: flex;
        justify-content: space-between;
        // grid-gap: 20px;
    }
    .subFinal , .final{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 20px;
        padding: 0px 10px;
        p:nth-child(2){
            text-align: center;
        }
    }
    .subFinal{
        font-weight: bold;
        font-size: 1em;
    }
    .final{
        font-weight: bold;
        font-size: 1.2em;
    }
    .info{
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    table{
        width: 100%;
    }
    .textCenter{
        text-align:center;
    }
}